.article-body {
  display: flex;
  height: calc(100vh - 128px);
}

.left-sidebar {
  z-index: 99999;
  background-color: var(--body-light);
  flex: 0 16rem;
}
.dark-mode .left-sidebar {
  background-color: var(--body-dark);
}

.right-sidebar {
  flex: 0 16rem;
}

section {
  flex: 1;
  overflow: auto;
}
