.hero-text {
  color: var(--text-light);
}
.hero-highlight {
  color: var(--text-dark);
}
.hero-bg {
  background-color: var(--body-light);
  svg {
    .F {
      fill: var(--body-light);
    }
    .E {
      fill: var(--link);
    }
    .D {
      fill: var(--text-light);
    }
  }
}

.dark-mode {
  .hero-bg {
    background-color: var(--link);
    svg {
      .F {
        fill: var(--text-dark);
      }
      .E {
        fill: var(--link);
      }
      .D {
        fill: var(--body-dark);
      }
    }
  }
  .hero-text {
    color: var(--body-dark);
  }
}
