/* Nav Item Styling */

.active-nav-item {
  color: var(--active-link) !important;
}

a:hover.nav-item {
  background-color: var(--text-light);
  color: var(--nord6);
}

.dark-mode a:hover.nav-item {
  background-color: var(--nord3);
  color: var(--nord6);
}

/* Logo Fill Colours */

svg.brand-logo {
  .cls-1 {
    fill: var(--yellow);
  }
  .cls-2 {
    fill: var(--text-light);
  }
}

.dark-mode svg.brand-logo {
  .cls-1 {
    fill: var(--yellow);
  }
  .cls-2 {
    fill: var(--text-dark);
  }
}