/* Sticky Header */

nav.nav {
  background-color: var(--nav-light);
}
.dark-mode nav.nav {
  background-color: var(--nav-dark);
}

/* Nav Item Styling */

.active-nav-item {
  color: var(--active-link) !important;
}

a:hover.nav-item {
  background-color: var(--text-light);
  color: var(--nord6);
}

.dark-mode a:hover.nav-item {
  background-color: var(--nord3);
  color: var(--nord6);
}

.mobile-nav-button:hover {
  background-color: var(--text-light);
}

.mobile-nav-item {
  color: var(--text-light);
}

.dark-mode .mobile-nav-item {
  color: var(--text-dark);
}

/* Logo Fill Colours */

svg.brand-logo {
  .cls-1 {
    fill: var(--link);
  }
  .cls-2 {
    fill: var(--text-light);
  }
  .cls-3 {
    fill: var(--text-light);
  }
}

.dark-mode svg.brand-logo {
  .cls-1 {
    fill: var(--link);
  }
  .cls-2 {
    fill: var(--text-dark);
  }
  .cls-3 {
    fill: var(--text-dark);
  }
}

/* User Button */

.cl-component .cl-user-button-trigger > .cl-user-button-avatar {
  border-radius: 4px !important;
}

.cl-component .cl-user-button-trigger {
  width: 1.25rem !important;
  height: 1.25rem !important;
}

.cl-component.cl-user-button {
  height: 1.25rem !important;
}

/* Search Modal */

.modal-background {
}

.hit-description {
  color: var(--text-light-muted);
}

/* Typesense logo colour */

svg.typesense-logo {
  g {
    fill: var(--text-light);
  }
}

.dark-mode svg.typesense-logo {
  g {
    fill: var(--text-dark);
  }
}
