.reveal-span {
  display: inline-block;
  position: relative;
  color: var(--link);
}
.dark-mode .reveal-span {
  color: var(--link);
}

.reveal-span:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: var(--text-light);
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}
.dark-mode .reveal-span:after {
  background-color: var(--text-dark);
}
.reveal-span:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
