  .sidebar {
    position: fixed;
    top: 4rem;
  }

  .sidebar-toggle {
    padding: 0px 2rem 0px 0px;
    color: var(--text-light);
    font-size: 1rem;
    cursor: pointer;
    display: inline-flex;
    transition: all 0.3s ease;
    justify-content: center;
    align-items: center;
  }
  
  .sidebar-div {
    position:relative;
  }