.search-area {
    max-height:40vh;
    overflow:scroll;
}

.hit-description {
    color: var(--text-light-muted);
}

/* Typesense logo colour */

svg.typesense-logo {
    g {
        fill: var(--text-light);
    }
}

.dark-mode svg.typesense-logo {
    g {
        fill: var(--text-dark);
    }
}