/* Nord Theme Colours */

:root {
    /* Polar Night */
    --nord0: #2e3440;
    --nord1: #3b4252;
    --nord2: #434c5e;
    --nord3: #4c566a;
    /* Snow Storm */
    --nord4: #d8dee9;
    --nord5: #e5e9f0;
    --nord6: #eceff4;
    /* Frost */
    --nord7: #8fbcbb;
    --nord8: #88c0d0;
    --nord9: #81a1c1;
    --nord10:#5e81ac;
    /* Aurora */
    --nord11: #bf616a;
    --nord12: #d08770;
    --nord13: #ebcb8b;
    --nord14: #a3be8c;
    --nord15: #b48ead;
    /* Custom Tint and Shade Shifts */
    --nord16: #f8f9fb;
    --nord17: #9399a5;
    --nord18: #c2c7d1;
}

/* Everforest Theme Colours */

:root {
    /* Dark Backgrounds */
    --everforest0: #323D43;
    --everforest1: #3C474D;
    --everforest2: #465258;
    --everforest3: #505A60;
    --everforest4: #576268;
    --everforest5: #5F6D67;
    --everforest6: #5D4251;
    --everforest7: #59454B;
    --everforest8: #48584D;
    --everforest9: #3D5665;
    --everforest10: #55544A;
    /* Light Backgrounds */
    --everforest11: #F8F0DC;
    --everforest12: #EFEAD4;
    --everforest13: #E9E5CF;
    --everforest14: #E1DDC9;
    --everforest15: #DCD8C4;
    --everforest16: #B9C0AB;
    --everforest17: #E6E9C4;
    --everforest18: #F9E0D4;
    --everforest19: #EDEECE;
    --everforest20: #E7EDE5;
    --everforest21: #F6E9C9;
    /* Replacement Colours */
    --everforest22: #D3C6AA;
    --everforest23: #E67E80;
    --everforest24: #E69875;
    --everforest26: #DBBC7F;
    --everforest27: #A7C080;
    --everforest28: #83C092;
    --everforest29: #7FBBB3;
    --everforest30: #D698B5;
    --everforest31: #7A8478;
    --everforest32: #859289;
    --everforest33: #9DA9A0;

}

/* Theme Palette Variables */

:root {
    /* Mode Agnostic */
    --active-link: var(--nord8);
    /* Light Mode */
    --text-light: var(--nord3);
    --body-light: var(--nord16);
    /* Dark Mode */
    --text-dark: var(--nord6);
    --body-dark: var(--nord0);
    /* Replacement Colours */
    --red: var(--nord11);
    --orange: var(--nord12);
    --yellow: var(--nord13);
    --green: var(--nord14);
    --purple: var(--nord15);
}