on:
  push:
    branches:
      - master

jobs:
  curl:
    runs-on: ubuntu-latest
    steps:
      - name: cURL Webhook
        run: |
          curl https://webhook.mattycakes.ca/hooks/build-phoebe
